name: Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - run: pip install ansible

      - run: ansible-playbook hack/playbooks/manage/manage.yaml

      - run: git diff --exit-code
